@import "./index.scss";

.dashboard{
  &--title{
    margin-top: 3rem;
  }
}

.btn-start-new{
  @include btn-rounded;
  background-color: $main-bg !important;
  &:hover{
    color:$highlight !important;
    background: $main-shadow !important;
  }
}

.btn-circle{
  position: fixed;
  bottom:2rem;
  right:2rem;
  background-color: white !important;
  box-shadow: 0 0 10px 3px rgba(0,0,0,0.1);
}

.btn-circle.btn-sm {
  width: 30px;
  height: 30px;
  padding: 6px 0px;
  border-radius: 15px;
  text-align: center;
  bottom:1rem;
  right:1rem;
}
.btn-circle.btn-md {
  width: 50px;
  height: 50px;
  padding: 7px 10px;
  border-radius: 25px;
  text-align: center;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  border-radius: 35px;
  text-align: center;
}
.btn-circle span {
  position: absolute;
  left: 30%;
  top: -2px;
  font-size: 2rem;
}
